/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333333;
    transition: background-color 0.3s;
  }
  
  header {
    background-color: #FF851B;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .menu {
    list-style-type: none;
    margin: 100;
    padding: 0;
    background-color: #FFB36B;
    border-radius: 60px;
  }
  
  .menu li {
    display: inline-block;
  }
  
  .menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #5e3f22;
  }
  
  .menu li a:hover {
    background-color: #7a5533;
    color: #fff;
  }
  .Lista {
    list-style-type: none;
    margin: 100;
    padding: 0;
    background-color: #FF851B;
    border-radius: 60px;
  }
  
  .Lista li {
    display: inline-block;
  }
  
  .Lista li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  .Lista li a:hover {
    background-color: #333;
    color: #fff;
  }

  h1 {
    color: #d9eaee;
    transition: color 0.3s;
  }
  h2, h3, h4 {
    color: #333333;
    transition: color 0.3s;
  }
  
  section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #C7D9E6;
    transition: background-color 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #5F99C7;
  }
  
  /* Estilos del formulario de inscripción */
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  input[type="text"],
  input[type="email"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Estilos del footer */
  footer {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
    color: #FFFFFF;
  }
  
  header img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    float: center;
  }